/*----      HTML tags   ----*/

body {
    box-sizing: border-box;
}

table, th, td {
    margin: 0 auto;
    border: 1px solid black;
    width: 50%;
    border-collapse: collapse;
    padding: 10px;
    table-layout: fixed;
    line-height: 40px;
}

button {
    font-size: large;
}

/*----      HTML Id's    ----*/

#start-button {
    width: 200px;
}

#guess-button {
    width: 80px;
}

#guess-input {
    width: 110px;
}

/*----      Classes      ---*/

.container-div {
    display: flex;
    flex-direction: column;
    height: 500px;
    text-align: center;
    visibility: hidden;
}

.container-div > .start-game {
    visibility: visible;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-div > .guesses-area {
    margin-bottom: 30px;
}

.container-div > .high-scores-table {
    margin-bottom: 30px;
}

.container-div > .clear-scores-button {
    margin-bottom: 30px;
}
